@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.eot") format("eot"),
    url("/fonts/Vazir.woff") format("woff"),
    url("/fonts/Vazir.woff2") format("woff2"),
    url("/fonts/Vazir.ttf") format("ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Vazir;
}